<turbo-frame id="new-ingredient" class="contents">
  <%= form_with model: new_ingredient, url: recipe_ingredients_path(new_ingredient.recipe_id), method: :post, class: 'contents' do |form| %>
    <%= render 'ingredients/form', form:, products: %>
    <div>
      <%= form.submit 'Add', class: "rounded-lg py-1 px-3 bg-blue-600 text-white text-sm inline-block font-medium" %>
    </div>
  <% end %>
</turbo-frame>
