@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-danger { @apply inline-block rounded-lg py-2 px-3 bg-red-600 border border-red-800 text-white; }
.btn-danger[disabled] { @apply bg-gray-400 text-gray-300 border-gray-500; }
.btn-primary { @apply inline-block rounded-lg py-2 px-3 bg-blue-500 border border-blue-700 text-white; }
.btn-secondary { @apply inline-block rounded-lg py-2 px-3 bg-slate-400 border border-slate-500 text-white; }

turbo-frame { @apply contents; }

.field_with_erorrs { @apply contents; }

.field_with_errors input,
.field_with_errors textarea,
.field_with_errors select { @apply border-red-500; }

.inline-form,
.horizontal-form,
.vertical-form {
  & textarea,
  & input[type=text],
  & input[type=date],
  & input[type=number] { @apply w-full rounded-lg shadow py-2 px-4; }

  & select { @apply w-full rounded-lg shadow py-2 px-4; }

  & .field-with-units {
    @apply relative;

    & .units { @apply absolute max-w-2 overflow-hidden right-3; }
    & input { @apply pr-6 text-right; }
  }
}

.heading { @apply text-2xl p-4 md:px-0 font-bold; }
.tile { @apply bg-white md:rounded-lg shadow p-4; }
.tile:empty { display: none; background-color: red !important; }

.units { @apply font-mono text-sm text-slate-500; }

.horizontal-form {
  @apply flex flex-col gap-4;

  & .input-block {
    display: grid;
    align-items: center;
    grid-template:
      "label input" auto
      "_     error" auto
      / 13em   1fr;
  }

  & .input-block > :nth-child(1) { @apply w-40 pr-4; grid-area: label;}
  & .input-block > :nth-child(2) { grid-area: input; }
  & .input-block > :nth-child(3) { grid-area: error; }

  & .error-messages { @apply text-red-500; }
  & .actions { @apply flex flex-row justify-end gap-2; }
}

.vertical-form {
  @apply flex flex-col gap-4;

  & .input-block { @apply flex flex-col; }
  & .error-messages { @apply text-red-500; }
  & .actions { @apply flex flex-row justify-end gap-2; }
}

/* TODO: This is a bad name and should be changed */
.table-actions {
  @apply flex flex-row gap-2;

  & > form { @apply contents; }
  & > form > *,
  & > * { @apply flex-1 grow; }
}
